@use './variables' as vb;

body{
    background-color: #ef4565;
}

.navbar{
    justify-content: space-between;
    height: 4rem;
    background-color:vb.$navbarBG;
    box-shadow: vb.$box-shadow;
    .navbar-brand{
        margin-left: 5%;
        color: vb.$brandColor;
        height: 4rem;
        font-weight: bolder;
    }
    .me-auto{
        margin: 0 5% 0 0 !important;
        float: right !important;
        border-radius: 10px;

        .nav-item{
            margin-left: 5px;
            .nav-link{
                padding: auto 15px auto 15px;
                border-radius: 5px;
                float: right;
                margin: auto;
                background-color:vb.$brandColor;
                color:vb.$navbarColor;
                font-weight: bold;
                height: 2.5rem;
            }
        }


        .nav-link:hover{
            color: vb.$navbarBG;
            background-color:vb.$navbarColor;
         
        }
    }
}

.auth-class{
    text-align: center;
    width: 80%;
    margin: 2rem auto auto auto;
    border-radius: vb.$border-radius;
    padding: 1.5rem;
    background-color: vb.$navbarColor;
    box-shadow: vb.$box-shadow;
    form{
        margin-top: 2rem;
    }
    h3{
        font-weight: bold;
    }
}

.home-body{
    width: 80%;
    margin: 2rem auto auto auto;

    .mb-3{
        box-shadow: vb.$box-shadow;
        margin: auto;
        .card-header {
            color: vb.$navbarBG;
            background-color: vb.$small-buttons;
            padding: 0 !important;
            margin-bottom: 1rem;
            width: 100%;
            p{
                margin-top: 1rem;
                font-weight: lighter;
                font-size: small;
                font-family:'Courier New', Courier, monospace;
            }
            #date{
                text-align: left;
                margin-left: 15px;
            }
            #author-col{
                text-align: right;
                margin-right: 15px;
            }
        }

        .btn btn-outline-ligth {
            text-align: left !important;
            padding: 0 !important;
            margin: 0;
            outline: none;
            border: none;
        }
        #post-body{
            text-align: left;
            .card-body{
                padding: 0;
                margin-left: 10px;

                .card-text{
                    letter-spacing: 0.2rem;
                    font-weight: lighter;
                    color: vb.$grey;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
                }
            }
        }
    }

    .owner-func{
        margin: auto;
        margin: 0;
        width: 100%;
        button{
            margin: 2px;
            background-color: vb.$navbarBG;
            border: none;
            float: right;
        }
    }
}

.single-post{
    background-color: vb.$navbarColor;
    padding: 5%;
    margin: 2% auto 2% auto;
    border-radius: vb.$border-radius;
    box-shadow: vb.$box-shadow;
    width: 80%;
    hr{
        margin-top: 0;
    }
    .post-info{
        display: flex;
        justify-content: space-between;
    }
    h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif Calibri, 'Trebuchet MS', sans-serif;
        font-weight: medium;
        letter-spacing: 0.6rem;
    }
    p{
        letter-spacing: 0.1rem;
        font-weight: lighter;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    h3{
        font-family:  Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 0.2rem;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}